{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:@typescript-eslint/strict"],
  "ignorePatterns": ["**/*.d.ts"],
  "rules": {
    "eqeqeq": "error",
    "@typescript-eslint/prefer-literal-enum-member": "error"
  }
}
